:global(.kt-tooltip-content) {
  :global(.rc-tooltip-inner) {
    min-height: auto;
    padding: 2px 4px;
    color: #1f2937;
    border: none;
    background-color: #f3f4f6;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.35);
  }

  &:global(.rc-tooltip-placement-left) {
    :global(.rc-tooltip-arrow) {
      right: -3px;
      margin-top: -4px;
      border-width: 4px 0 4px 4px;
      border-left-color: #f3f4f6;
    }
  }

  &:global(.rc-tooltip-placement-right) {
    :global(.rc-tooltip-arrow) {
      left: -3px;
      margin-top: -4px;
      border-width: 4px 4px 4px 0;
      border-right-color: #f3f4f6;
    }
  }

  &:global(.rc-tooltip-placement-bottom) {
    :global(.rc-tooltip-arrow) {
      top: -3px;
      margin-left: -4px;
      border-width: 0 4px 4px;
      border-bottom-color: #b1b1b1;
    }
  }
}
